@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Inter:100,200,300,400,500,600,700,800,900');

header {
    
    margin: 0;
    width: 250px;
   
   
}

body {
    font-family: "Inter", sans-serif;
    
}

.list-inline-item {

    padding-right: 0%;
}

img {
    max-width: 100%;
    height: auto;
    
}

.contact-form {

    position: absolute;
    right: 75px;
    top: 100px; 
}

.message-box {

    height: 150px;
}

#map {
    position:fixed;
    bottom: 100px;
    right: 10px;

}



/* ----------------------------------------------- Footer */

.social-media {
    list-style-type: none;
    font-size: 20px;
}

li {
    display: inline-block; 
}


footer p {
    color: grey;
    padding-bottom: 0%;
    font-size: 12px;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    text-align: center;
    background-color: black;
    
  }
