@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Inter:100,200,300,400,500,600,700,800,900');

header {
    margin: 0;
}




/* ----------------------------------------------- Footer */

.social-media {
    list-style-type: none;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
